

.about{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom right, black, tan);
    border: 1px solid rgb(37, 33, 33);
    text-align: center;
    min-height: 90vh;
    
}
.about h1{
    text-align:right;
    font-size: smaller;
    color: wheat;

}
.about h3{
    margin-top: 20px;
    font-weight: 100%;
    color:rgb(241, 103, 103);
    text-align: center;

}
.about h5{
    font-size: smaller;
    color:rgb(34, 29, 21);
    bottom: auto;
    text-align:end;
    
}
.about p{
    color:white;
    font-size:medium;

}

