

.home {
    padding: 40px 20px;
    background: linear-gradient(to bottom right, rgb(29, 27, 27), brown);
}

.home h1 {
    color:white;
    font: size 100px;
    font-weight: bold;

    text-align: center;
}
.home.page h1 + p {
    margin-top: 40px; 
}
.img {
container:unset;

}
.home h4 {
    color: blue;
    text-align: center;
}
.home p{
    text-align: center;
    color: white;
}
.image-container {
    margin: 5 10px;    
    display:flex; 
    width: 100%;
        
  }
  
  .header-pic {
    max-width: none;     
    height: auto;           
    width: 280px;
    height: 400px;    
    padding: 40px; 
    background-color:rgb(206, 235, 235);
    border-radius: 15%;
    border-top-width: 20%;

  }

  
 